@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    font-size:  100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: #7e7373;
}

input,button,textarea{font-family: inherit;}







.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
	 display: flex;
	 justify-content: space-between;
}

/* header */
h1{
	font-family: 'Montserrat';
	font-size: 25px;
	font-weight: 900;
}


.logo-name{
	position: relative;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: Bold;
    color: #000;
}
.cart{
	width: 100px;
	padding-right: 10px;
	
	
}
.cart-img{
	margin-left: -30px;
	width: 160px;
	height: 80px;
}

.items{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 2px solid white;
	background-color: rgb(160, 88, 182);
	font-size: 20px;
	position: absolute;
	margin-top: -30px;

	text-align: center;
}



/* content */


/* main */

.filters{
    position: relative;
	 margin-top: 5%;
   

}
.content{
	display: flex;
}

.search-container{
	display: flex;
	position: relative;
	
	
}

.search-container input {
	width: 100%;
	font-size: 1rem;
	padding: 10px;
}

input:focus {
	box-shadow: 0 0 5px orange;
	
}

.search-container i {
	color: rgb(206, 194, 194);
	cursor: pointer;
	padding: 10px;
	border: 2px solid white;

	background-color: rgb(51, 39, 39);
}

.search-container i:hover {
	color: rgb(255, 81, 0);
	transition: 0.3s;
}


.options{
	width: 400px;
	height: 400px;
	border: 3px solid black;
}

h2{
	font-size: 30px;
	text-align: center;
}

.flowers{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.flowers span{
	font-size: 30px;
	
}

.list{
	margin-top: 15px;
	width: 100%;
	display: flex;
	
	
}
.flow{
	width: 120px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-color: #EE4390;
    font-size: 15px;
	 cursor: pointer;
    text-transform: uppercase;
}
.flow:hover{
	color: #000;
	box-shadow: 1px 0px 10px #EE4390;
	border-radius: 10px;
	transition-duration: .5s;
}
.flow.active{
	background-color: white;
	color: black;
}

.bucket{
	width: 120px;
	margin-left: 10px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-color: #EE4390;
    font-size: 15px;
	 cursor: pointer;
    text-transform: uppercase;
}

.bucket:hover{
	color: #000;
	box-shadow: 1px 0px 10px #EE4390;
	border-radius: 10px;
	transition-duration: .5s;
}

.bucket.active{
	background-color: white;
	color: black;
}

.carts{
	width: 120px;
	margin-left: 10px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-color: #EE4390;
    font-size: 15px;
	 cursor: pointer;
    text-transform: uppercase;
}
.carts:hover{
	color: #000;
	box-shadow: 1px 0px 10px #EE4390;
	border-radius: 10px;
	transition-duration: .5s;
}

.carts.active{
	background-color: white;
	color: black;
}

.but{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.but span{
	font-size: 30px;
	
}

.do5{
	margin-left: 60px;
	width: 120px;
	   height: 35px;
    border-radius: 20px;
    color: #fff;
    background-color: #EE4390;
    font-size: 15px;
	 cursor: pointer;
    text-transform: uppercase;
}
.do5:hover{
	color: #000;
	box-shadow: 1px 0px 10px #EE4390;
	border-radius: 10px;
	transition-duration: .5s;
}

.do5.active{
	background-color: white;
	color: black;
}
.after5{
	margin-left: 50px;
	width: 120px;
	margin-left: 10px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-color: #EE4390;
    font-size: 15px;
	 cursor: pointer;
    text-transform: uppercase;
}
.after5:hover{
	color: #000;
	box-shadow: 1px 0px 10px #EE4390;
	border-radius: 10px;
	transition-duration: .5s;
}

.after5.active{
	background-color: white;
	color: black;
}

.color{
	margin-top: 20px;
	display: flex;
	
	align-items: center;
	
}

.color span{
	font-size: 30px;
	
}

.red{
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: red;
	cursor: pointer;
}
.red:hover{
	border: 1px solid black;
}

.red.active{
	border: 2px solid black;
}

.white{
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
	cursor: pointer;
}

.white:hover{
	border: 1px solid black;
}

.white.active{
	border: 2px solid black;
}
.yellow{
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: yellow;
	cursor: pointer;
}
.yellow:hover{
	border: 1px solid black;
}
.yellow.active{
	border: 2px solid black;
}

.diapozon{
	width: 400px;
	height: 400px;
	border: 3px solid black;
}

.sort{
	width: 400px;
	height: 400px;
	border: 3px solid black;
}

/* catalog */
.catalog{
	width: 100%;
	height: 3000px;
	align-items: center;
}

.flcatalog{
	height: 100%;
	align-items: center;
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	
}
.catalog-text{
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat';
    
}

.produkt-catalog{
	width: 80%;
}

.ggd{
	border: 2px solid red;
	
	
	margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
	 row-gap: 5%;
	 column-gap: 5%;
    padding-bottom: 70px;
}

.catalog-card{
	
    width: 275px;
    height: 515px;
    border-radius: 10px;
}    

.card-item{
    text-align: center;
    padding: 10px 0;
    line-height: 1.9;
    font-size: 20px;
    background-color:#fff;
    box-shadow: 1px 2px 10px 0px;
    border-radius: 10px;
}

.card-item:hover{
    background-color: #fff;
    box-shadow: 1px 2px 10px 0px #EE4390;
    transition-duration: 0.2s;
}

.img-buket{
    max-width: 200px;
	 height: 200px;
}

.text-item{
    font-size: 30px;
    color: #22256F;
    font-weight: 700;
    font-family: 'Montserrat', SemiBold;
    line-height: 35px;
    margin: 10px 0 0 0;
}


.subtext-item{
    font-size: 20px;
    color: #808080;
    line-height: 35px;
    margin: 10px 0 0 0;
}




/* footer */

.footer_text{
    
    margin: 70px 0 0 0;
    font-weight: 700;
    font-size: 35px;
}

.footer_row{
    display: flex;
    margin: 50px 0 0 0;
    justify-content: space-between;
}

.footer_col{
    /* width: 315px; */
    height: 160px;
    font-weight: 700;
    line-height: 17px;
}

/* garant */
.garant{
    width: 100%;
    height: 125px;
    background: rgba(0, 0, 0, 0.71);;
}

.garant_text{
    display: flex;
    justify-content: space-between;
}

.text1{
    margin: 55px 0 0 0;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
   .container{
       max-width: 970px;
   }
   .main_content{
       margin-top: 15%;
   }
   .main_btn{
       width: 100%;
       font-size: 29px; 
       padding: 0 10px;
   }
   .title{
       font-size: 50px;
       padding-top: 30px;
   }    
   .subtitle{
       font-size: 20px;
       padding-top: 30px;
   }
   .intro{
       padding-top: 25px;
   }
   .image{
       width: 80%;
   }
   .catalog_text{
       font-size: 40px;
   }
   .catalog_card{
       width: 225px;
   }
   .img-buket{
       width: 100%;
   }
   .btn_bi{
       width: 65%;
   }
   .buy_text{
       line-height: 40px;
   }
   .footer_text{
       margin-top: 50px;
       font-size: 30px;
   }
   .footer_row{
       margin-top: 40px;
   }

}

@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .menu_active{
        display: none;
    }
    .menu{
        display: none;
    }
    .login{
        display: none;
    }
    .main_content{
        width: 80%;
        margin-top: 15%;

    }
    .main_btn{
        width: 100%;
        font-size: 18px; 
        padding: 0 10px;
    }
    .title{
        font-size: 40px;
        padding-top: 30px;
    }    
    .subtitle{
        font-size: 15px;
        padding-top: 30px;
    }
    .intro{
        padding-top: 25px;
    }
    .skidka{
        height: 85px;
    }
    .price{
        font-size: 25px;
    }
    .price_2{
        height: 55px;
    }
    .price_btn{
        height: 55px;
    }
    .image{
        width: 100%;
    }
    .catalog_text{
        font-size: 34px;
    }
    .catalog_card{
        width: 225px;
    }
    .catalog_card:nth-child(3){
        display: none;
    }
    .img-buket{
        width: 100%;
    }
    .btn_bi{
        width: 65%;
    }
    .buy_text{
        line-height: 40px;
    }
    .footer_text{
        margin-top: 50px;
        font-size: 30px;
    }
    .footer_row{
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .container{
        max-width: none;
    }
    .content{
        margin-bottom: 15px;
    }
    .menu_active{
        display: none;
    }
    .menu{
        display: none;
    }
    .login{
        display: none;
    }
    .main_content{
        width: 80%;
        margin-top: 26%;

    }
    .main_btn{
        width: 100%;
        font-size: 20px; 
        padding: 0 10px;
    }
    .title{
        font-size: 35px;
        padding-top: 30px;
    }    
    .subtitle{
        font-size: 14px;
        padding-top: 15px;
    }
    .intro{
        padding-top: 25px;
    }
    .skidka{
        height: 70px;
    }
    .price{
        font-size: 18px;
    }
    .price_2{
        height: 50px;
    }
    .price_2 p{
        font-size: 13px;
    }
    .price_btn{
        height: 50px;
        font-size: 10px;
    }
    .main_img{
        width: 100%;
        position: relative;
        top: 118px;
    }
    .image{
        width: 100%;
    }
    .catalog_text{
        font-size: 30px;
    }
    .produkt_catalog{
        padding-bottom: 35px;
    }
    .catalog_card{
        width: 225px;
    }
    .catalog_card:nth-child(3),
    .catalog_card:nth-child(2){
        display: none;
    }
    .img-buket{
        width: 100%;
    }
    .text_item{
        font-size: 25px;
    }
    .btn_bi{
        width: 65%;
        font-size: 13px;
    }
    span{
        font-size: 25px;
    }
    .buy_text{
        line-height: 30px;
        padding-left: 10px;
    }
    .text{
        font-size: 18px;
    }
    .subtext2{
        font-size: 19px;
        line-height: 25px;
    }
    .number_buy{
        font-weight: 700;
        font-size: 20px;
    }
    .btn_buy{
        font-size: 10px;
    }
    .footer-text{
        margin-top: 50px;
        font-size: 30px;
    }
    .footer_row{
        margin-top: 40px;
    }
}

